// COLORS
$color-light-green: #00c46a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-light-grey: #6D717A;
$color-light-grey-2: #eee;
$color-dark-grey: #2d3439;

$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5643fa;
$color-secondary-dark: #ff7730; 

$color-white: #fff;
$color-black: #000;

// FONTS
$default-font-size: 1.5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BORDER RADIUS
$default-border-radius: .5rem;