body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    $color-light-grey: #6D717A;
}

.heading-primary {
    color: $color-white;
    font-size: 3.5rem;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    &--dark{
        color: $color-black;
    }

    &--large {
        font-size: 5rem;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    &__icon {
        height: 5rem;
    }
}

.paragraph {
    color: $color-white;
    font-size: 1.9rem;

    @include respond(tab-port) {
        font-size: $default-font-size;
    }

    &-2 {
        font-size: $default-font-size;

        &--large {
            font-size: 2.2rem;
        }
    }
}

.heading-3 {
    font-size: 2.5rem;
    text-transform: uppercase;

    @include respond(tab-port) {
        font-size: 2rem;
    }
}

.heading-4 {
    font-size: 1.8rem;
    color: $color-white;

    @include respond(tab-port) {
        font-size: $default-font-size;
    }
}


